.suggestion-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.suggestion-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 0.8rem;
  margin: 0.5rem 0;
  flex-grow: 1;
}

.suggestion-selection-button {
  border: none;
  cursor: pointer;
  outline: none;
  background: inherit;
}

.selection-arrow-img {
  height: 0.8rem;
  width: 0.8rem;
}

@media (min-width: 768px) {
  .suggestion-text {
    font-size: 1rem;
  }

  .selection-arrow-img {
    height: 1.2rem;
    width: 1.2rem;
  }
}
