.suggestion-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 1.5rem;
}

.suggestion-text {
  color: #475569;
  font-family: 'Roboto';
  font-size: 1.2rem;
}

.suggestion-selection-button {
  border: none;
  cursor: pointer;
  outline: none;
  background: inherit;
}

.selection-arrow-img {
  height: 1.5rem;
  width: 1.5rem;
}
